/* .dark,.categories,.itemWrap,.statsCounter,.blog{
    background-color: #232220;
}
.dark p{
    color: #a5a2a1;
}
.dark .agentContent,.categoriesText,.blog--Text,.feedback__Text,blockquote q,.feedback__item,.leftContent,.counter,.counterText,a.card-title,.card__info a,a.read,.agentSub a{
    color: white ;
}
.dark .footer__social a,.header__right input{
    background-color: #232220;
}
.dark .header__right input{
    border: 1px solid #232220
} */
/* Khi nao mentor kiem tra Darktheme thi mo comment giup em nha <3 */